<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>
  <!-- Hero / header -->
  <header class="site-header">
    <div class="hero">
      <img src="{{ '/images/logo.png' | relative_url }}" alt="Logo" class="logo">
      <div class="hero-text">
        {% comment %} <div class="site-name">{{ site.title }}</div> {% endcomment %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% if page.subtitle %}
          <p class="subtitle">{{ page.subtitle }}</p>
        {% endif %}
      </div>
    </div>
  </header>

   <div class="container">
    <nav class="sidebar">
      <h3>Table of Contents</h3>
      {{ content | toc }}
    </nav>

    <main class="content">
      {{ content }}
    </main>
  </div>

  <footer class="site-footer">
    <div class="footer-inner">
      <div class="copyright">© {{ "now" | date: "%Y" }} {{ page.author | default: site.author }}</div>
      <div class="contact">
        <strong>Contact:</strong>
        <a href="mailto:seknewna@gmail.com">seknewna [at] gmail.com</a> ·
        <a href="https://github.com/seknewna" target="_blank" rel="noopener">github.com/seknewna</a>
      </div>
    </div>
  </footer>
</body>
</html>
