
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
    <img src="{{ '/images/logo.png' | relative_url }}" alt="Logo" class="logo">
    <h1 class="site-title">{{ page.title }}</h1>
  </header>

  <main class="content">
    {{ content }}
  </main>
</body>

<footer class="site-footer">
    <p>© 2025 {{ page.author | default: "Your Name" }}</p>
    <div class="contact">
      <p><strong>Contact:</strong></p>
      <p>Email: <a href="mailto:your.email@example.com">your.email@example.com</a></p>
      <p>GitHub: <a href="https://github.com/seknewna" target="_blank">github.com/seknewna</a></p>
    </div>
</footer>

</html>
